body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.canvas {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    flex: 1;
    border: 1px solid black;
}

.drawn {
    background-color: aqua;
}