body {
    display: flex;
    flex-direction: column;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    flex: 1;
    border: 1px solid black;
}